.content-container {
  margin: 2rem 2rem 4rem 2rem;
}
/* CONTENT TOP CSS */
.content-top {
  display: flex;
  padding-bottom: 1rem;
}
.numbering {
  height: 1.5rem;
  width: 1.5rem;
  border-radius:50%;
  background-color: red;
  color:white;
  font-weight: bold;
  margin: auto;
}

.imageTextContainer {
  display:flex;
  flex-direction: column-reverse;
}

.imageLabel {
  text-align: center;
  padding-top: 1rem;
}

@media(min-width:758px) {
  .imageTextContainer {
    display: flex;
    flex-direction: row;
  }
  .imageLabel {
    text-align: center;
    padding: 0;
    width: 30%;
  }
}

.description p {
  margin: 0 1rem;
}
/*-----------------------*/


/* CONTENT BOTTOM CSS */
.content-bottom {
  margin: 0;
}

@media(min-width:1000px) {
  .content-bottom {
    margin: 0 0 0 25%;
  }
}

.content-bottom > div {
  border-radius: 10px;
  border: 1px solid lightgrey;
}

.content-bottom > .detail-style:nth-child(1) {
  border-top: 6px solid orange;
}

.content-bottom > .detail-style:nth-child(2) {
  border-top: 6px solid #8657ff;
}

.content-bottom p {
  margin: 0;
}

.payout-style, .detail-style {
  margin-bottom:1rem;
  padding:1rem;
}

.details, .payout-details {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.details div, .payout-details div {
  flex-grow: 1;
}

.details div p:nth-child(1),
.payout-details div p:nth-child(1) {
  font-size: 0.85rem;
}
.details div p:nth-child(2),
.payout-details div p:nth-child(2) {
  font-weight: bold;
}

.payout-style .payout-details > div:nth-child(1) {
  padding-left:10px;
  border-left:3px solid orange;
}

.payout-style .payout-details > div:nth-child(2) {
  padding-left:10px;
  border-left:3px solid #8657ff;
}
/*---------------------------------------------------*/

.arrow-container {
  position: absolute;
  width: 100%;
  top: 0;
  padding: 7rem 2rem 0;
  box-sizing: border-box;
}

.arrow-container button {
  color: red;
  background: none;
  border: none;
  font-size: xx-large;
}

.arrow-container button:focus {
  outline: none;
}